

@model GalatiaBurger.Models.ExtraIngredient

@{
    ViewData["Title"] = "Delete";
}


<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-info">Delete Extra Ingredient</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" disabled class="form-control" type="text" readonly />


        </div>
        <div class="mb-3">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" disabled class="form-control" type="number" readonly />

        </div>
        <button type="submit" class="btn btn-info" style="width:150px">Delete</button>
        <a asp-controller="ExtraIngredient" asp-action="Index" class="btn btn-warning" style="width:150px">
            Back to List
        </a>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}


